/* mainView.html中基本的样式，包括重复使用的、父类元素的 */

*{
    box-sizing: border-box;
}

body{
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.basicArea{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.arrow{
    transition: 1s ease-in-out;
    opacity: 0.4;
}

.arrow.down{
    position: fixed;
    top: 90vh;
    right: 1vw;
    display: none;
    height: 50px;
    width: auto;
    animation: arrowDownHoverMove 3s infinite;
}

.arrow.down:hover{
    cursor: pointer;
    animation: arrowDownHoverMove 1s infinite;
    opacity: 1;
}

.arrow.down.active{
    display: block;
}

@keyframes arrowDownHoverMove{
    25% { transform: translateY(10px); }
    75% { transform: translateY(-5px); }
}

.secend-title{
    font-size: 48px;
    margin-left: 10px;
}

.secend-title img{
    height: 45px;
    width: auto;
    vertical-align: middle;
}

.en-gloss{
    font-size: 32px;
    margin-left: 10px;
    margin-top: -4vh;
    font-style: italic;
}

.en-gloss.variant{
    margin-left: 90px;
}
