/* 这里是首页相关的样式 */
.background.main{
    background-image: url('../../Assets/BackgroundImgs/mainBackground.webp'), url('../../Assets/BackgroundImgs/mainBackground.jpeg');
    background-size: cover;
    opacity: 0.3;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 108px;
    transition: 0.6s  ease-in-out;
    margin-left: 10px;
}

.title.active{
    font-size: 225px;
    margin-top: 30vh;
    margin-bottom: 100vh;
    color: #c0c0c0;
    text-align: center;
}

.title.active:hover{
    cursor: pointer;
}

.title img{
    height: 75px;
    width: auto;
    margin-left: 100px;
}

@media (max-width: 999px) {
    .arrow.right{
        vertical-align: middle;
        transform: rotate(90deg);
        margin-top: -30vh;
    }

    .arrow.right:hover{
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    .arrow.right{
        vertical-align: middle;
        animation: arrowRightHoverMove 3s infinite;
    }
    
    .arrow.right:hover{
        animation: arrowRightHoverMove 1s infinite;
        opacity: 1;
    }

    @keyframes arrowRightHoverMove{
        25% { transform: translateX(10px); }
        75% { transform: translateX(-5px); }
    }
}

.main-container{
    min-width: 1000px;
    width: 100vw;
    position: relative;
    margin-top: -30px;
}

.func-category{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    padding-left: 75px;
    transition: 0.6s ease-in-out;
}

.func-category:hover{
    padding-left: 60px;
    margin-top: -25px;
}

.func-category:hover>div{
    margin: 15px;
    box-shadow: 3px 3px #696969;
}

.func-category div{
    display: inline-block;
    width: 200px;
    height: 225px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 50px;
    background-color: #c0c0c0;
    box-shadow: 8px 8px #696969;
    align-items: center;
    opacity: 0.7;
    transition: 0.6s ease-in-out;
}

.func-category div:hover{
    cursor: pointer;
    animation: funcCategoryMove 1.5s infinite;
}

@keyframes funcCategoryMove{
    50%{ transform: translateY(-10px); }
}

.func-category div img{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: auto;
    display: block;
}

.func-category div p{
    color: #000;
    text-align: center;
}

.sub-title{
    margin-top: -5px;
    font-size: 30px;
    font-weight: bolder;
}

.sub-english{
    font-size: 18px;
    margin-top: -20px;
}