*{
    box-sizing: border-box;
}

body{
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #fff;
    overflow: hidden;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../Assets/BackgroundImgs/study.webp'), url('../../Assets/BackgroundImgs/study.jpeg');
    background-size: cover;
    opacity: 0.3;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}