.markdown-area{
    width: calc(74vw - 3px);
    min-width: 200px;
    height: 95vh;
    min-height: 300px;
    border-left: 3px solid;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 1vw;
    margin-top: 1vh;
}

.markdown-area {
    font-size: 24px;
}

.markdown-area :hover{
    cursor: pointer;
}

.markdown-area a{
    text-decoration: none;
    color: inherit;
}

.markdown-area a:hover{
    text-decoration: underline;
}