<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/essayDetailsCss/basic.css">
    <title>Essay Details</title>
    </head>

    <body>
        <div class="main-container" id="markDownArea"></div>
        <div class="background"></div>
    </body>
    <script src="http://cdn.bootcss.com/pagedown/1.0/Markdown.Converter.js"></script>
    <script type="text/javascript" src="../Js/EssayDetailsJs/mdToHtml.js"></script>
</html>