<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/defultScrollbar.css">
    <link rel="stylesheet" href="../Css/EssayDetailsCss/basic.css">
    <link rel="stylesheet" href="../Css/EssayDetailsCss/asideContent.css">
    <link rel="stylesheet" href="../Css/EssayDetailsCss/markdownArea.css">
    <link rel="stylesheet" href="../Css/EssayDetailsCss/footerArea.css">
    <title>Essay Details</title>
</head>

<body>
    <div class="main-container">
        <div class="aside-content" id="asideContent">
            <h1></h1>
            <hr width="40%" style="margin-right: 0;">
            <h2></h2>
            <h2></h2>
        </div>
        <div class="markdown-area" id="markdownArea"></div>
        <div class="footer-area" id="footerArea">
            <ul class="footer-item">前端文章</ul>
            <ul class="footer-item">python文章</ul>
            <ul class="footer-item">C&CPP文章</ul>
            <ul class="footer-item">SwiftUI文章</ul>
            <ul class="footer-item">其它文章</ul>
        </div>
    </div>
    <div class="background"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="../Js/EssayDetailsJs/asideCententInitial.js"></script>
<script type="text/javascript" src="../Js/EssayDetailsJs/mdToHtml.js"></script>
<script type="text/javascript" src="../Js/EssayDetailsJs/createFooterList.js"></script>

</html>