<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Css/defultScrollbar.css">
        <link rel="stylesheet" href="../Css/MainCss/basic.css">
        <link rel="stylesheet" href="../Css/MainCss/welcome.css">
        <link rel="stylesheet" href="../Css/MainCss/dailyLife.css">
        <link rel="stylesheet" href="../Css/MainCss/dailyStudy.css">
        <title>Hello!</title>
    </head>
    <body>
        <div class="basicArea">
            <div class="background main"></div>
            <div style="position: relative;">
                <h1 class="title active">Welcome!<img class="arrow right" src="../Assets/arrow.right.svg" alt="To next!"></h1>
            </div>
            
            <div class="main-container">
                <p class="secend-title">这里是Carloss2035的个人Blog // \\\</p>
                <p class="en-gloss">Here is my Blog!</p>
                <div class="func-category">
                    <div>
                        <img src="../Assets/person.svg" alt="personImg">
                        <hr width="90%" color="#000">
                        <p class="sub-title">关于我</p>
                        <p class="sub-english">About me >> </p>
                    </div>
                    <div>
                        <img src="../Assets/paperplane.svg" alt="siteImg">
                        <hr width="90%" color="#000">
                        <p class="sub-title">关于站点</p>
                        <p class="sub-english">About site >> </p>
                    </div>
                    <div>
                        <img src="../Assets/gamecontroller.svg" alt="toDailyLifeImg">
                        <hr width="90%" color="#000">
                        <p class="sub-title">前往生活区</p>
                        <p class="sub-english">To daily life >> </p>
                    </div>
                    <div>
                        <img src="../Assets/book.svg" alt="toStudyImg">
                        <hr width="90%" color="#000">
                        <p class="sub-title" >前往学习区</p>
                        <p class="sub-english">To daily study >> </p>
                    </div>
                </div>
            </div>
            <div class="background main"></div>

        </div>
        <div class="basicArea">
            <div class="background daily-life"></div>
            <p class="secend-title">
                <img src="../Assets/gamecontroller_white.svg" alt="">
                这里是生活区// \\\
            </p>
            <p class="en-gloss variant">Here is my daily life</p>
            <hr width="98%" style="margin-top: -2vh;">
            <div class="arg-container">
                <div class="arg-item aside animation">
                    <div class="arg-content animation">
                        <h1>喜欢的</h1>
                        <hr width="99%" size="2">
                        <div class="scroll-container" id="favorAnimatioList">
                            <!-- <div class="scroll-item animation-and-reality">
                                <img src="../Assets/defaultPhoto.svg" alt="">
                                <div class="description">
                                    <h2>#测试样例</h2>
                                    <p>#测试样例</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="arg-content animation">
                        <h1>已经看过的</h1>
                        <hr width="99%" size="2">
                        <div class="scroll-container" id="seenAnimationList">
                            <!-- <div class="scroll-item animation-and-reality">
                                <img src="../Assets/defaultPhoto.svg" alt="">
                                <div class="description">
                                    <h2>#测试样例</h2>
                                    <p>#测试样例</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="arg-item aside reality">
                    <div class="arg-content reality">
                        <h1>校园苟且</h1>
                        <hr width="99%" size="2">
                        <div class="scroll-container" id="schoolPhotoList">
                            <!-- <div class="scroll-item animation-and-reality">
                                <img src="../Assets/defaultPhoto.svg" alt="">
                                <div class="description">
                                    <h2>#测试样例</h2>
                                    <p>#测试样例</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="arg-content reality">
                        <h1>诗和远方</h1>
                        <hr width="99%" size="2">
                        <div class="scroll-container" id="farawayPhotoList">
                            <!-- <div class="scroll-item animation-and-reality">
                                <img src="../Assets/defaultPhoto.svg" alt="">
                                <div class="description">
                                    <h2>#测试样例</h2>
                                    <p>#测试样例</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="arg-item aside game">
                    <div class="arg-content game">
                        <h1>随时随地开玩儿的</h1>
                        <hr width="99%" size="2">
                        <div class="scroll-container" id="mobileGameList">
                            <!-- <div class="scroll-item game">
                                <img src="../Assets/defaultPhoto.svg" alt="">
                                <div class="description">
                                    <h2>#测试样例</h2>
                                    <hr width="100%">
                                    <h3>#测试样例</h3>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="arg-content game">
                        <h1>需要PC电脑的</h1>
                        <hr width="99%" size="2">
                        <div class="scroll-container" id="pcGameList">
                            <!-- <div class="scroll-item game">
                                <img src="../Assets/defaultPhoto.svg" alt="">
                                <div class="description">
                                    <h2>#测试样例</h2>
                                    <hr width="100%">
                                    <h3>#测试样例</h3>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="arg-content game">
                        <h1>主机上的</h1>
                        <hr width="99%" size="2">
                        <div class="scroll-container" id="masterGameList">
                           <!-- <div class="scroll-item game">
                                <img src="../Assets/defaultPhoto.svg" alt="">
                                <div class="description">
                                    <h2>#测试样例</h2>
                                    <hr width="100%">
                                    <h3>#测试样例</h3>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="text-chooser">
                    <p>A</p>
                    <p>nimation</p>
                    <p>R</p>
                    <p>eality</p>
                    <p>G</p>
                    <p>ame</p>
                </div>
                <div class="placeholder"></div>
            </div>
        </div>
        <div class="basicArea">
            <div class="background study"></div>
            <p class="secend-title">
                <img src="../Assets/book_white.svg" alt="">
                这里是学习区// \\\
            </p>
            <p class="en-gloss variant">Here is my daily Study</p>
            <hr width="98%" style="margin-top: -2vh;">
            <div class="container">
                <div class="aside-menu ">
                    <ul>
                        <li class="active"><img src="../Assets/a.circle.svg" alt="A"><span class="menu-detail">全部文章</span></li>
                        <li><img src="../Assets/f.circle.svg" alt="F"><span class="menu-detail">前端文章</span></li>
                        <li><img src="../Assets/p.circle.svg" alt="P"><span class="menu-detail">python文章</span></li>
                        <li><img src="../Assets/c.circle.svg" alt="C"><span class="menu-detail">C&CPP文章</span></li>
                        <li><img src="../Assets/s.circle.svg" alt="S"><span class="menu-detail">SwiftUI文章</span></li>
                        <li><img src="../Assets/o.circle.svg" alt="O"><span class="menu-detail">其它文章</span></li>
                    </ul>
                </div>
                <div class="verify-box" id="verifyBox">
                    <!-- <div class="verify-item web">
                        <img src="../Assets/defaultImg.svg" alt="">
                        <h1>这里是标题</h1>
                        <div>
                            <p>发表时间：2023-03-13</p>
                            <p>文章分类： web</p>
                        </div>
                    </div>
                -->
                </div>
            </div>
        </div>
        <img class="arrow down" src="../Assets/arrow.down.svg" alt="To next">
    </body>
    <script type="text/javascript" src="../Js/MainJs/createAnimationList.js"></script>
    <script type="text/javascript" src="../Js/MainJs/createRealityList.js"></script>
    <script type="text/javascript" src="../Js/MainJs/createGameList.js"></script>
    <script type="text/javascript" src="../Js/MainJs/createStudyEssayList.js"></script>
    <script type="text/javascript" src="../Js/MainJs/scrollBehavior.js"></script>
    <script type="text/javascript" src="../Js/MainJs/titleBehavior.js"></script>
    <script type="text/javascript" src="../Js/MainJs/funcCategoryBehavior.js"></script>
    <script type="text/javascript" src="../Js/MainJs/argBehavior.js"></script>
</html>