<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/defultScrollbar.css">
    <link rel="stylesheet" href="../Css/PhotoCss/basic.css">
    <title>My Photo</title>
</head>
<body>
    <div class="main-container init">
        <div class="photo-container"><img id="photo"></div>
        <div class="description" id="description">
            <h1></h1>
            <hr>
            <div class="details">正在加载... Loading... </div>
            <footer>
                <p></p>
                <p></p>
            </footer>
        </div>
    </div>
    <div class="background"></div>
</body>
<script type="text/javascript" src="../Js/PhotoJs/createPhotoInfo.js"></script>
<script type="text/javascript" src="../Js/PhotoJs/initBehavior.js"></script>
<script type="text/javascript" src="../Js/PhotoJs/imgCilckBehavior.js"></script>
</html>