<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/defultScrollbar.css">
    <link rel="stylesheet" href="../Css/SelfIntroductionCss/basic.css">
    <link rel="stylesheet" href="../Css/SelfIntroductionCss/navi.css">
    <link rel="stylesheet" href="../Css/SelfIntroductionCss/breifIntroduction.css">
    <link rel="stylesheet" href="../Css/SelfIntroductionCss/contactWay.css">
    <link rel="stylesheet" href="../Css/SelfIntroductionCss/websiteBrief.css">
    <title>Who am I? </title>
</head>
<body>
    <div class="main-content">
        <div class="back-to-main">
            <img src="../Assets/arrow.left.svg" alt="back">
            <span>返回</span>
        </div>
        <div class="listing">
            <h2>目录</h2>
            <hr width="30%" style="margin-right:0">
        </div>
        <div class="content-box">
            <h1>我是谁？</h1>
            <hr width="99%">
            <div class="content-item" id="content1">
                <h2>努力精简的自我介绍</h2>
                <div class="tags-box" id="tags-box"></div>
                <p id="text-content"></p>
            </div>
            <div class="content-item" id="content2">
                <hr width="99%">
                <h2>想要 Contact With ME?</h2>
                <div class="account-box">
                    <div>
                        <img src="../Assets/qq.svg" alt="错误">
                        <hr width="95%">
                        <p>通过QQ联系:</p>
                        <p>2530056984</p>
                    </div>
                    <div>
                        <img src="../Assets/weChat.svg" alt="">
                        <hr width="95%">
                        <p>通过微信联系:</p>
                        <p>Z2530056984</p>
                    </div>
                    <div>
                        <img src="../Assets/163.svg" alt="">
                        <hr width="95%">
                        <p>通过163邮联系:</p>
                        <p>z2530056984@163.com</p>
                    </div>
                    <div>
                        <img src="../Assets/github.svg" alt="">
                        <hr width="95%">
                        <p>通过github联系:</p>
                        <p>Gemini2035</p>
                    </div>
                    <div>
                        <img src="../Assets/google.svg" alt="">
                        <hr width="95%">
                        <p>通过gmail联系:</p>
                        <p>gemeni10234@gmail</p>
                    </div>
                    <div>
                        <img src="../Assets/twitter.svg" alt="">
                        <hr width="95%">
                        <p>通过Twitter联系:</p>
                        <p>Z2530056984</p>
                    </div>
                </div>

            </div>
            <div class="content-item" id="content3">
                <hr width="99%">
                <h2>一些有意思的网站</h2>
                <div class="website-box">
                    <div>
                        <img src="../Assets/bilibili.svg" alt="错误">
                        <div>
                            <h3>BiliBili</h3>
                            <h4>https://www.bilibili.com</h4>
                            <hr width="95%">
                            <p>
                                哔哩哔哩（NASDAQ:BILI；HKEX:9626），英文名称：bilibili，简称B站，是中国年轻世代高度聚集的文化社区和视频网站，该网站于2009年6月26日创建，被网友们亲切地称为“B站”。2018年3月28日，哔哩哔哩在美国纳斯达克上市。2021年3月29日，哔哩哔哩正式在香港二次上市。<br>
                                B站早期是一个ACG（动画、漫画、游戏）内容创作与分享的视频网站。经过十年多的发展，围绕用户、创作者和内容，构建了一个源源不断产生优质内容的生态系统，B站已经涵盖7000多个兴趣圈层的多元文化社区，曾获得QuestMobile研究院评选的“Z世代偏爱APP”和“Z世代偏爱泛娱乐APP”两项榜单第一名并入选“BrandZ”报告2019最具价值中国品牌100强
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../Assets/mikuTap.svg" alt="">
                        <div>
                            <h3>MikuTap*</h3>
                            <h4>https://aidn.jp/mikutap/</h4>
                            <hr width="95%">
                            <p>
                                来自日本友人开发的html解压小游戏，通过按压键盘或者触碰屏幕发出声音，配合背景音乐，无比解压。更加令人兴奋的是，声音采用了Miku的声库！
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../Assets/windmill.svg" alt="">
                        <div>
                            <h3>风车动漫</h3>
                            <h4>https://www.dm530p.net/</h4>
                            <hr width="95%">
                            <p>
                                《风车动漫》是一款运行于安卓平台的手机软件(???)，需要Android1.6及以上平台进行运行，应用大小为1.05MB。由风车动漫开发。该软件可以在线观看动漫。<br>
                                风车动漫手机版拥有上万集高清晰画质的在线动漫，通过风车动漫App观看完全免费、无须注册、高速播放、更新及时。<br>
                                当你被某站的先审后播模式所深深困扰时，你不妨试试这个网站！
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../Assets/cat.svg" alt="">
                        <div>
                            <h3>萌娘百科</3>
                            <h4>https://zh.moegirl.org.cn/Mainpage</h4>
                            <hr width="95%">
                            <p>
                                萌娘百科（英语：Moegirlpedia，日语：萌えっ娘百科事典）是由MediaWiki软件支持的非商业ACGN主题在线百科全书，创建于2010年10月11日。萌娘百科自称“秉承‘万物皆可萌’的精神原则”，偏向收录女性角色、萌拟人化作品以及相关原创作品。百科中的大多数条目以萌拟人化的形式出现。因为收录很多动漫术语，亦被认为是专门收集动漫术语的百科。<br>
                                萌娘百科的最初名叫“绿坝娘wiki”，是为保存大量原创人物绿坝娘的相关内容而设立的独立网站。后更名为“中华萌娘小百科”。2011年5月1日改为现名，并逐渐宽展范围至收录各种ACGN女性角色、ACGN相关内容、原创拟人作品。萌娘百科是非营利性计划，任何人均可在遵守服务器所在地法律、萌娘百科规定的前提下，自由地创建条目、添加内容。<br>
                                萌娘百科有中文、日语、英语三个语言版本及几个姊妹项目。
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../Assets/chatgpt.svg" alt="">
                        <div>
                            <h3>ChatGpt*</h3>
                            <h4>https://chat.openai.com/chat</h4>
                            <hr width="95%">
                            <p>
                                ChatGPT（全名：Chat Generative Pre-trained Transformer），美国OpenAI研发的聊天机器人程序，于2022年11月30日发布。ChatGPT是人工智能技术驱动的自然语言处理工具，它能够通过理解和学习人类的语言来进行对话，还能根据聊天的上下文进行互动，真正像人类一样来聊天交流，甚至能完成撰写邮件、视频脚本、文案、翻译、代码，写论文等任务。 
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../Assets/learningMusic.svg" alt="">
                        <div>
                            <h3>LearningMusic*</h3>
                            <h4>https://learningmusic.ableton.com/zh-Hans/</h4>
                            <hr width="95%">
                            <p>
                                在这个网站中，你可以学习到基本的乐理，甚至进行音乐创作！你不必担心没有四只手来演奏多余的乐器，因为它已经帮你封装。<br>
                                你将通过这些课程学习到音乐创作的基础知识。无需任何经验或设备， 你将在浏览器中完成所有工作。
                            </p>
                        </div>
                    </div>
                </div>
                <p>注: 带*号的可能需要魔法，懂得都懂</p>
            </div>
            <div class="content-item" id="content4">
                <hr width="99%">
                <h2>其他</h2>
                <p>
                    本博主曾在2023.3-2023.5月使用的一份简历，放在此处留作纪念
                </p>
            </div>
        </div>
    </div>
    <div class="background"></div>
</body>
<!-- <script src="https://sdk.openai.com/js/v1/openai.js"></script> -->
<script type="text/javascript" src="../Js/SelfIntroductionJs/loadContent.js"></script>
<script type="text/javascript" src="../Js/SelfIntroductionJs/dynamicListing.js"></script>
<script type="text/javascript" src="../Js/SelfIntroductionJs/backUp.js"></script>
<script type="text/javascript" src="../Js/SelfIntroductionJs/tagClickBehavior.js"></script>
<script type="text/javascript" src="../Js/SelfIntroductionJs/accountBoxHoverBehavior.js"></script>
<script type="text/javascript" src="../Js/SelfIntroductionJs/siteBoxBehavior.js"></script>
<script type="text/javascript" src="../Js/SelfIntroductionJs/toMyVite.js"></script>
</html>