<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/defultScrollbar.css">
    <link rel="stylesheet" href="../Css/SiteIntroductionCss/basic.css">
    <link rel="stylesheet" href="../Css/SiteIntroductionCss/titleAndTime.css">
    <link rel="stylesheet" href="../Css/SiteIntroductionCss/tool.css">
    <link rel="stylesheet" href="../Css/SiteIntroductionCss/langRate.css">
    <link rel="stylesheet" href="../Css/SiteIntroductionCss/contibutor.css">
    <link rel="stylesheet" href="../Css/SiteIntroductionCss/others.css">
    <title>About Site</title>
</head>

<body>
    <div class="main-content">
        <div class="title-and-time">
            <h1>关于本站点</h1>
            <span>本站点已上线 <span></span>天</span>
        </div>
        <hr width="95%">
        <div class="content-item tool-box hidden">
            <h1>构建站点使用的工具<img src="../Assets/arrow.right.svg" alt=""></h1>
            <div class="tool-item">
                <img src="../Assets/github.svg" alt="">
                <div>
                    <h1>Github*</h1>
                    <h3>https://www.github.com/</h3>
                    <p>
                        本站点的所有代码都托管在GitHub上。不要问为什么不用国内的Gitee，因为上面有文件大小限制！<br><br>
                        GitHub是一个在线软件源代码托管服务平台，使用Git作为版本控制软件，由开发者Chris Wanstrath、P. J. Hyett和汤姆·普雷斯顿·沃纳使用Ruby on Rails编写而成。在2018年，GitHub被微软公司收购。<br>
                        GitHub同时提供付费账户和免费账户。这两种账户都可以创建公开或私有的代码仓库，但付费用户拥有更多功能。根据在2009年的Git用户调查，GitHub是最流行的Git访问站点。除了允许个人和组织创建和访问保管中的代码以外，它也提供了一些方便社会化共同软件开发的功能，即一般人口中的社群功能，包括允许用户追踪其他用户、组织、软件库的动态，对软件代码的改动和bug提出评论等。GitHub也提供了图表功能，用于概观显示开发者们怎样在代码库上工作以及软件的开发活跃程度。
                    </p>
                </div>
            </div>
            <div class="tool-item">
                <img src="../Assets/chatgpt.svg" alt="">
                <div>
                    <h1>ChatGpt*</h1>
                    <h3>https://chat.openai.com/chat/</h3>
                    <p>
                        负责部分代码顾问，当遇到大脑短路的情况时，ChatGpt可以很好的辅助你进行下一步<br><br>
                        ChatGPT，全称聊天生成型预训练变换模型（英语：Chat Generative Pre-trained Transformer），是OpenAI开发的人工智能聊天机器人程序，于2022年11月推出。该程序使用基于GPT-3.5架构的大型语言模型并以强化学习训练。ChatGPT目前仍以文字方式交互，而除了可以用人类自然对话方式来交互，还可以用于甚为复杂的语言工作，包括自动生成文本、自动问答、自动摘要等多种任务。如：在自动文本生成方面，ChatGPT可以根据输入的文本自动生成类似的文本（剧本、歌曲、企划等），在自动问答方面，ChatGPT可以根据输入的问题自动生成答案。还有编写和调试计算机程序的能力。在推广期间，所有人可以免费注册，并在登录后免费使用ChatGPT与AI机器人对话。 <br>
                        ChatGPT可写出相似真人的文章，并在许多知识领域给出详细和清晰的回答而迅速获得关注，证明了从前认为AI不会取代的知识型工作它也足以胜任，对金融与白领人力市场的冲击相当大，但也认为事实准确度参差不齐是其重大缺陷，并认为基于意识形态的模型训练结果须小心校正。ChatGPT于2022年11月发布后，OpenAI估值已涨至290亿美元。上线5天后已有100万用户，上线两个月后已有上亿用户。（目前己出ChatGPT-4供ChatGPT Plus会员使用）
                    </p>
                </div>
            </div>
            <div class="tool-item">
                <img src="../Assets/wiki.svg" alt="">
                <div>
                    <h1>Wikipedia*</h1>
                    <h3>https://en.wikipedia.org/wiki/Main_Page</h3>
                    <p>
                        如果你在该站点看到任何非常正式的解释性文本，那么不用怀疑，有极大的可能性是维基百科上的文本！ <br>
                        当你对此类文本的版权问题感到不适时，不妨移步本页其他内容版块进行阅读，我相信能够缓解你的不适！ <br><br>
                        维基百科（英语：Wikipedia）是维基媒体基金会运营的一个多语言的网络百科全书，并以创建和维护作为开放式协同合作项目，特点是自由内容、自由编辑、自由著作权。目前是全球网络上最大且最受大众欢迎的参考工具书，名列全球二十大最受欢迎的网站，其在搜索引擎中排名亦较为靠前。维基百科目前由非营利组织维基媒体基金会负责营运。Wikipedia是混成词，分别取自于网站核心技术“Wiki”以及英文中百科全书之意的“encyclopedia”。截至2021年初，所有语种的维基百科条目数量达5,500万。
                    </p>
                </div>
            </div>
            <div class="tool-item">
                <img src="../Assets/vscode.svg" alt="">
                <div>
                    <h1>Visual Studio Code</h1>
                    <h3>https://www.github.com</h3>
                    <p>
                        众所周知，在代码开发过程中，需要一个强大的IDE来帮助开发调试。而VSCode和其中的大量插件则合作担当了这个重要的角色！<br><br>
                        Visual Studio Code（简称 VS Code）是一款由微软开发且跨平台的免费集成开发环境。该软件支持语法高亮、代码自动补全（又称 IntelliSense）、代码重构功能，并且内置了命令行工具和 Git 版本控制系统。用户可以更改主题和键盘快捷方式实现个性化设置，也可以通过内置的扩展程序商店安装扩展以拓展软件功能。<br>
                        VS Code 使用 Monaco Editor 作为其底层的代码编辑器。<br>
                        Visual Studio Code 的源代码以 MIT许可证在 GitHub 上释出，而可执行文件使用了专门的许可证。<br>
                        微软在2015年4月29日举办的 Build 2015大会上公布了 Visual Studio Code 的开发计划；同日，其预览版本发布。2015年11月18日，Visual Studio Code 在 GitHub 上开源，同时宣布将支持扩展功能。2016年4月14日，Visual Studio Code 正式版发布。<br>
                        在2019年的 Stack Overflow 组织的开发者调查中，Visual Studio Code 被认为是最受开发者欢迎的开发环境。据调查，87317名受访者中有50.7%的受访者声称正在使用 Visual Studio Code。
                    </p>
                </div>
            </div>
            <div class="tool-item">
                <img src="../Assets/jetBrains.svg" alt="">
                <div>
                    <h1>Jet Brains</h1>
                    <h3>https://www.jetbrains.com/</h3>
                    <p>
                        未来战士。我是说当未来考虑给站点拓展后端时，我会优先考虑使用JetBrains旗下的IntelliJ IDEA作为开发撰写时的集成开发环境。<br>
                        在站点前端相关开发时，我曾考虑过使用Fleet编辑器。但是很遗憾，Fleet在目前(2023-03-20)的开发环境和插件支持确实很难比得上VSCode。使我最后依然不得不转回VSCode。<br><br>
                        JetBrains是一家捷克的软件开发公司，该公司位于捷克的布拉格，并在俄罗斯的圣彼得堡及美国马萨诸塞州波士顿都设有办公室，该公司最为人所熟知的产品是Java编程语言开发撰写时所用的集成开发环境：IntelliJ IDEA。<br>
                        JetBrains成立于2000年，是一家私人持股的公司，该公司的合伙创办人有：Sergey Dmitriev、Eugene Belyaev及Valentin Kipiatkov。<br>
                        截至2017年6月，该公司共发布了24款开发工具与及相关产品。<br>
                        2021年7月，该公司宣布在中国上海成立捷并思公司。
                    </p>
                </div>
            </div>
            <div class="tool-item">
                <img src="../Assets/apple.svg" alt="">
                <div>
                    <h1>Apple</h1>
                    <h3>https://apple.com/</h3>
                    <p>
                        对本站点的支持主要有：<br><br>
                        <img src="../Assets/macbook.and.ipad.svg" alt=""> : 开发设备支持 | MacBook Air M1 2020; iPad Pro
                        (12.9Inch) (4th Generate) <br>
                        <img src="../Assets/apple.svg" alt=""> Developer : 图标软件支持，本站90%的图标来自一款由Apple Inc.开发的名为SF
                        Symbols的软件 | SF Symbols<br>
                        ( <a href="https://developer.apple.com/" target="_blank">https://developer.apple.com/</a> | <a href="https://developer.apple.com/sf-symbols/" target="_blank"> https://developer.apple.com/sf-symbols/</a> ) <br><br>
                        苹果公司（英语：Apple Inc.），原称苹果电脑公司（英语：Apple Computer, Inc.），是源自美国的跨国科技公司，总部位于美国加州的库比蒂诺，与亚马逊、谷歌、微软、Meta并行为五大科技巨擘。目前的业务包括设计、研发、手机通信和销售消费电子、计算机软件、在线服务和个人计算机。
                    </p>
                </div>
            </div>
        </div>
        <div class="content-item lang-box hidden">
            <h1>本站点使用的语言统计<img src="../Assets/arrow.right.svg" alt=""></h1>
            <div class="lang-rate-box">
                <!-- <span>persontage</span> -->
            </div>
            <div class="lang-explanation-box">
                <!-- <div>
                    <div>lang circle</div>
                    <span>langName persentage</span>
                </div> -->
            </div>
        </div>
        <div class="content-item contributor-box hidden">
            <h1>本站点的主要贡献者<img src="../Assets/arrow.right.svg" alt=""></h1>
            <div class="contributor-item">
                <img alt="" src="https://avatars.githubusercontent.com/u/76091679?v=4">
                <div>
                    <h2>Gemini2035</h2>
                    <p>
                        代码贡献量: 100%
                    </p>
                </div>
            </div>
        </div>
        <div class="content-item others-box hidden">
            <h1>其他内容<img src="../Assets/arrow.right.svg" alt=""></h1>
            <p>
                【法律申明】<br>
                1、本网站所载的文字图片等稿件均出于为公众传播有益资讯信息之目的，并不意味着赞同其观点或证实其内容的真实性，我们不对其科学性、严肃性等作任何形式的保证。如其他媒体、网络或个人从本网下载使用须自负版权等法律责任。<br>
                2、本网站内凡注明来源的所有文字、图片、音频、视频稿件均属本网站原创内容，版权均属本站所有，任何媒体、网站或个人未经本网站协议授权（需要提供《授权协议》）不得转载、链接、转贴或以其他方式复制发表。已经与本网站协议授权的媒体、网站，在下载使用时必须注明稿件来源，违者本网将依法追究责任。<br>
                3、凡本网站转载的所有的文章
                、图片、音频、视频文件、字体等资料的版权归版权所有人所有，本站采用的非本站原创文章、图片、音频、视频文件、字体等内容无法一一和版权者联系，如果本网所选内容的文章作者及编辑认为其作品不宜上网供大家浏览，或不应无偿使用（涉及费用问题，需要删除“不宜上网供大家浏览，或不应无偿使用”）请及时用电子邮件或电话通知我们，以迅速采取适当措施，避免给双方造成不必要的经济损失。<br>
                4、对于已经授权本站独家使用并提供给本站资料的版权所有人的文章、图片等资料，如需转载使用，需取得本站和版权所有人的同意。<br>
                【免责声明】<br>
                1、本站部分来源于网络转载的文章信息是出于传递更多信息之目的，并不意味着赞同其观点或证实其内容的真实性。如其他媒体、网站或个人从本网下载、链接、或以其他形式的复制发表、使用，必须保留本网注明的稿件来源”，并自负版权等法律责任（已经保留了稿件来源，不需要负版权责任。需要删除“并自负版权等法律责任”）。如对稿件内容有疑议，请及时与我们联系、我们将第一时间处理。<br>
                2、任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的损失，本网站均得免责（不可抗力因素不需要网站负责）。因和本网站链接的其它网站所造成的个人资料泄露及由此而导致的任何法律争议和后果，本网站均得免责（需要改为“和本网站链接的其它网站所造成的个人资料泄露及由此而导致的任何法律争议和后果，本网站与链接网站依据实际情况承担一定责任”）。<br>
                3、本网站如因系统维护、升级、线路及本公司可控或不控制范围的其它原因而导致暂停服务，于暂停服务期间造成的一切不便与损失，本网站不负任何责任。 <br>
                4、本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，一切后果自己负责，本网站不承担任何责任。<br>
                5、凡以任何方式登陆本网站或直接、间接使用本网站资料者，视为自愿接受本网站声明的约束。<br>
                6、本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。<br>
                7、本网站如无意中侵犯了某个媒体、个人或企业团体的知识产权：包括但不限于文字、字体、图像、网页、声音、软件
                (包括代码、接口、网站的结构)和视频、外观和感觉、设计及其所涉及的编译等，请来信或来电告之，本网站将立即删除。<br>
                【浏览建议】<br>
                1、屏幕分辨率<br>
                浏览本网站内容的最佳电脑分辨率为1366*768或以上。<br>
                本网站未做移动端设备适配，故在PC端网页全屏体验最佳。<br>
                2、浏览器选择<br>
                为确保您拥有最佳网站浏览体验，我们推荐您使用以下浏览器的最新版本：<br>
                Google Chrome 谷歌浏览器 <br>
                Mozilla Firefox 火狐浏览器 <br>
                Microsoft Edge <br>
            </p>
        </div>
    </div>
    <div class="back-to">
        <img src="../Assets/arrow.left.svg" alt="">
        <span>返回</span>
    </div>
    <div class="background"></div>
</body>
<script type="text/javascript" src="../Js/SiteIntroductionJs/countingEffect.js"></script>
<script type="text/javascript" src="../Js/SiteIntroductionJs/langRateCalculate.js"></script>
<script type="text/javascript" src="../Js/SiteIntroductionJs/toolClickBehavior.js"></script>
<script type="text/javascript" src="../Js/SiteIntroductionJs/langHoverBehavior.js"></script>
<script type="text/javascript" src="../Js/SiteIntroductionJs/contributerBehavior.js"></script>
<script type="text/javascript" src="../Js/SiteIntroductionJs/collapseBehavior.js"></script>
<script type="text/javascript" src="../Js/SiteIntroductionJs/backUp.js"></script>

</html>