*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../Assets/BackgroundImgs/mainBackground.jpeg'), url('../../Assets/BackgroundImgs/mainBackground.jpeg');
    background-size: cover;
    opacity: 0.3;
}

.main-content{
    margin-left: auto;
    margin-right: auto;
    width: 98vw;
    display: flex;
}

.content-box{
    overflow-y: auto;
    height: 95vh;
    min-width: 70vw;
    max-width: 70vw;
    position: relative;
    background-clip: padding-box;
    border: 3px solid;
    border-image: linear-gradient(transparent, #fff, transparent) 2 2 2 2;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    padding: 10px;
    flex: 1;
}

.content-item{
    margin-bottom: 5%;
}

.back-to-main{
    position: absolute;
    left: 1vw;
    top: 1vh;
    border-radius: 10px;
    padding: 5px;
    transition: 0.6 ease-in-out;
}

.back-to-main:hover{
    border-bottom: 1px solid;
    cursor: pointer;
    opacity: 0.7;
}

.back-to-main img{
    height: 50px;
    width: auto;
    opacity: 0.4;
}

.back-to-main span{
    font-size: 40px;
    vertical-align: top;
}

#content3>p{
    text-decoration: underline;
    text-align: right;
    padding-right: 1%;
}

#content4 p:hover{
    text-decoration: underline;
    cursor: pointer;
}