*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    overflow-y: hidden;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../Assets/BackgroundImgs/mainBackground.webp'), url('../../Assets/BackgroundImgs/mainBackground.jpeg');
    background-size: cover;
    opacity: 0.3;
}

.content-item{
    width: 100vw;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

/* 在2k上合适的布局 */
.content-item.hidden{
    margin: 25px 0;
    height: 50px;
    overflow: hidden;
}

/* TODO：在4k上检查布局是否炸裂 */

.content-item>h1{
    min-width: 600px;
    margin: 0;
    margin-left: 3vw;
    position: relative;
}

.content-item>h1>img{
    height: 45px;
    width: auto;
    position: absolute;
    right: 3vw;
    top: 5px;
    transition: 0.6s ease-in-out;
}

.content-item>h1>img:hover{
    cursor: pointer;
    opacity: 0.7;
}

.content-item>h1>img.rotate{
    transform: rotateZ(90deg);
}

.main-content{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.back-to{
    position: fixed;
    bottom: 10px;
    left: 20px;
    transition: 0.6s ease-in-out;
    font-size: 32px;
}

.back-to img{
    height: 20px;
    width: auto;
}

.back-to.desalination{
    opacity: 0.5;
}

.back-to:hover{
    background-color: #808080;
    cursor: pointer;
    border-radius: 5px;
    opacity: 1;
}