.contributor-box{
    height: 200px;
    padding-left: 3vw;
}

.contributor-box>h1{
    margin: 0;
}

.contributor-item{
    width: calc((100% - 6vw) / 3 - 2px);
    display: flex;
    height: 100px;
    border-radius: 20px;
    transition: 0.6s ease-in-out;
    background-color: #808080;
    border: 1px solid;
}

.contributor-item:hover{
    background-color: #444;
    cursor: pointer;
    opacity: 0.5;
}

.contributor-item>img{
    border: 1px solid;
    border-radius: 50%;
    height: 75%;
    width: auto;
    margin: auto;
    margin-left: 5px;
}

.contributor-item div{
    height: 75%;
    overflow: hidden;
    width: calc(90% - 13px);
    border-left: 1px solid;
    margin: auto 0 auto 10px;
    overflow-x: auto;
}

.contributor-item div h2{
    margin: 0;
    margin-left: 10px;
}

.contributor-item div p{
    margin-top: 3px;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    line-height: 1.5;
}