.title-and-time{
    position: relative;
}

.title-and-time h1{
    font-size: 108px;
    padding-left: 20px;
    margin: 0;
    min-width: 600px;
}

.title-and-time>span{
    position: absolute;
    right: 0;
    bottom: 1vh;
    font-size: 56px;
    padding-right: 10px;
}

.title-and-time span{
    transition: 0.6s ease-in-out;
}

@media (max-width: 1099px) {
    .title-and-time span{
        opacity: 0;
    }
}

@media (min-width: 1100px) {
    .title-and-time span{
        opacity: 1;
        animation: opacityChange 5s infinite;
    }


    @keyframes opacityChange {
        50%{ opacity: 0.8; }
    }
}